In [1]:
# import numpy as np
import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1847,tt0241303,25000000,152500343,Chocolat,Juliette Binoche|Alfred Molina|Johnny Depp|Car...,Lasse HallstrÃ¶m,...and the world is still indulging!,A fable of emotional liberation and chocolate....,121,Comedy|Drama|Romance,Miramax Films|David Brown Productions|Fat Free,12/14/2000,6.6,2000
1781,tt0841046,35000000,18317151,Walk Hard: The Dewey Cox Story,John C. Reilly|Jenna Fischer|Tim Meadows|Krist...,Jake Kasdan,Life made him tough. Love made him strong. Mus...,Singer Dewey Cox overcomes adversity to become...,96,Comedy|Music,Columbia Pictures Corporation|Apatow Productions,12/21/2007,6.5,2007
271,tt1197624,53000000,126690726,Law Abiding Citizen,Jamie Foxx|Gerard Butler|Colm Meaney|Bruce McG...,F. Gary Gray,The System Must Pay.,A frustrated man decides to take justice into ...,109,Drama|Crime|Thriller,"Film Department, The|Evil Twins|Warp Films",10/15/2009,7.2,2009
157,tt0829150,70000000,215529201,Dracula Untold,Luke Evans|Sarah Gadon|Dominic Cooper|Art Park...,Gary Shore,Every bloodline has a beginning,"Vlad Tepes is a great hero, but when he learns...",92,Horror|Action|Drama|Fantasy|War,Universal Pictures|Legendary Pictures|Fuji Tel...,10/1/2014,6.1,2014
563,tt0245686,17700000,30987695,Joe Dirt,David Spade|Brittany Daniel|Dennis Miller|Adam...,Dennie Gordon,He Came. He Cleaned. He Conquered.,"Joe Dirt is a janitor with a mullet hairdo, ac...",91,Mystery|Adventure|Comedy|Romance|Drama,Columbia Pictures|Happy Madison Productions,4/10/2001,5.5,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {}  # создадим словарь для ответов

# --------------------------------------------------------------------------------
# add new column "profit" which is the difference between revenue and budget
data['profit'] = data['revenue'] - data['budget']
# new column containing length of original title in chacacters
data['length_title'] = data.original_title.str.len()
# new column containing list of words in overview
data['overview_list'] = data.overview.str.lower().str.split(' ')
# new column containing quantity of words in overview
data['words_count'] = data.overview_list.str.len()

# --------------------------------------------------------------------------------
# convert release date into proper datetime format
data['date'] = pd.to_datetime(data['release_date'])
# create a new column containing month of release
data['month'] = pd.DatetimeIndex(data['date']).month


def season(x):
    """
    Function takes number of month and returns its season
    """
    if 3 <= x <= 5:
        return 'spring'
    if 6 <= x <= 8:
        return 'summer'
    if 9 <= x <= 11:
        return 'fall'
    else:
        return 'winter'


# create a new columnt containing season of release
data['seasons'] = data['month'].apply(season)

# --------------------------------------------------------------------------------
# if column contains more than one value, create a new one with a list for later explosion
# use lowercase in order to avoid duplicates because of improper lower or upper case
data['genres_list'] = data.genres.str.lower().str.split('|')
data['directors_list'] = data.director.str.lower().str.split('|')
data['cast_list'] = data.cast.str.lower().str.split('|')
data['companies_list'] = data.production_companies.str.lower().str.split('|')

# create new exploded datasets for those who hate Counter
genres = data.explode('genres_list')
directors = data.explode('directors_list')
cast = data.explode('cast_list')
companies = data.explode('companies_list')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [7]:
# %%timeit
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2: более медленный из-за сортировки

In [8]:
# %%timeit
data.sort_values(by='budget', ascending=False)['original_title'].head(1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 3: еще более медленно

In [9]:
# %%timeit
data.query('budget == budget.max()')['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [11]:
# %%timeit
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 2:

In [12]:
# %%timeit
data.sort_values(by='runtime', ascending=False)['original_title'].head(1)

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 3:

In [13]:
# %%timeit
data.query('runtime == runtime.max()')['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

ВАРИАНТ 4: c созданием переменной (быстрее 2 и 3, но зачем создавать переменные, если можно без них?

In [14]:
# %%timeit
max_runtime = data.runtime.max()
data[data.runtime == max_runtime]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [16]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 2:

In [17]:
data.sort_values(by='runtime')['original_title'].head(1)

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 3:

In [18]:
data.query('runtime == runtime.min()')['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

ВАРИАНТ 4: c созданием переменной (быстрее 2 и 3, но зачем создавать переменные, если можно без них?

In [19]:
min_runtime = data.runtime.min()
data[data.runtime == min_runtime]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [20]:
answers['4'] = '4. 110'

In [21]:
# %%timeit
# display(data['runtime'].mean()) - if you need superprecise mean time, otherwise ==>
round(data['runtime'].mean())

110

ВАРИАНТ 2: посмотреть на нужную строчку в описательных статистиках

In [22]:
# %%timeit
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,length_title,words_count,month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,52.410270,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,26.631917,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,10.000000,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,32.000000,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,48.000000,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,67.000000,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,175.000000,12.000000

ВАРИАНТ 3: если вам ну очень скучно, то можно и так...

In [23]:
# %%timeit
data.runtime.sum()/data.runtime.count()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [24]:
answers['5'] = '5. 107'

In [25]:
# %%timeit
# data['runtime'].median() if you need superprecise median time, otherwise ==>
round(data['runtime'].median())

107

ВАРИАНТ 2: посмотреть на нужную строчку в описательных статистиках

In [26]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,length_title,words_count,month
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,52.410270,6.933298
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,26.631917,3.390196
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,10.000000,1.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,32.000000,4.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,48.000000,7.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,67.000000,10.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,175.000000,12.000000

ВАРИАНТ 3: что такое медиана? это 5-процентиль. Но квантили работают медленнее медианы

In [27]:
# %%timeit
round(data['runtime'].quantile(0.5))

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [28]:
answers['6'] = '6. Avatar (tt0499549)'

In [29]:
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 2:

In [30]:
data.sort_values(by='profit', ascending=False)['original_title'].head(1)

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 3:

In [31]:
data.query('profit == profit.max()')['original_title']

239    Avatar
Name: original_title, dtype: object

ВАРИАНТ 4:

In [32]:
max_profit = data.profit.max()
data[data.profit == max_profit]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [33]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

In [34]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2:

In [35]:
data.sort_values(by='profit')['original_title'].head(1)

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 3:

In [36]:
data.query('profit == profit.min()')['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 4:

In [37]:
min_profit = data.profit.min()
data[data.profit == min_profit]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [38]:
answers['8'] = '8. 1478'

In [39]:
# %%timeit
data[data['revenue'] > data['budget']].count()['original_title']

1478

ВАРИАНТ 2:

In [40]:
# %%timeit
data.query('revenue-budget > 0').count()['imdb_id']

1478

ВАРИАНТ 3: доверительный интервал по скорости пересекается с первым вариантом

In [41]:
# %%timeit
data[data.profit > 0].count()['imdb_id']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [42]:
answers['9'] = '9. The Dark Knight (tt0468569)'

In [43]:
# %%timeit
data[data.release_year == 2008].sort_values(
    by='revenue', ascending=False).head(1)['original_title']

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 2: такая же запись через query() -  медленнее

In [44]:
# %%timeit
data.query('release_year == 2008').sort_values(
    by='revenue', ascending=False).head(1)['original_title']

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 3: с созданием переменной макс.прибыли в 2008 (т.к. это не макс.прибыль по массиву)

In [45]:
# %%timeit
max_revenue_2008 = data.groupby(['release_year']).revenue.max()[2008]
data[(data.release_year == 2008) & (
    data.revenue == max_revenue_2008)]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

ВАРИАНТ 4: длинно и еще более долго, но тоже работает

In [46]:
# %%timeit
data.groupby(['release_year', 'original_title']).revenue.max(
).sort_values(ascending=False)[2008].head(1)

original_title
The Dark Knight    1001921825
Name: revenue, dtype: int64

ВАРИАНТ 5: с созданием подмассива фильмов 2008 года

In [47]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [48]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

In [49]:
# %%timeit
data[((data.release_year >= 2012) & (data.release_year <= 2014))
     ].sort_values(by='profit').head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 2: с созданием переменной минимальной прибыли и запрос по конкретным годам

In [50]:
# %%timeit
minprofit = data.query('2012 <= release_year <= 2014').profit.min()
data[data.profit == minprofit]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 3: аналог 1, с query, еще медленнее

In [51]:
# %%timeit
data.query('release_year >= 2012 & release_year <= 2014').sort_values(
    by='profit').head(1)['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

ВАРИАНТ 4: c созданием подмассива и группировкой

In [52]:
# %%timeit
data_1214 = data.query('2012 <= release_year <= 2014')
data_1214.groupby(['release_year', 'original_title']
                  ).profit.min().sort_values().head(1)

release_year  original_title
2013          The Lone Ranger   -165710090
Name: profit, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [53]:
answers['11'] = '11. Drama'

In [54]:
# %%timeit
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2 - медленнее

In [55]:
# %%timeit
all_genres = data.genres.str.cat(sep='|')
pd.Series(all_genres.split('|')).value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 3 - еще более медленно

In [56]:
# %%timeit
genres.genres_list.value_counts().head(1)

drama    782
Name: genres_list, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [57]:
answers['12'] = '12. Drama'

In [58]:
# %%timeit
Counter(data[data.profit > 0].genres.str.cat(
    sep='|').split('|')).most_common(1)

[('Drama', 560)]

ВАРИАНТ 2: с созданием подмассива

In [59]:
# %%timeit
profit = data[data.profit > 0]
Counter(profit.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 560)]

ВАРИАНТ 3: - медленнее

In [60]:
# %%timeit
profit = data[data.profit > 0]
all_genres = profit.genres.str.cat(sep='|')
pd.Series(all_genres.split('|')).value_counts().head(1)

Drama    560
dtype: int64

ВАРИАНТ 4: еще более медленно

In [61]:
# %%timeit
profit = data[data.profit > 0]
genres_p = profit.explode('genres_list')
genres_p.genres_list.value_counts().head(1)

drama    560
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [62]:
answers['13'] = '13. Peter Jackson'

In [63]:
# directors = data.explode('directors_list')
directors.groupby('directors_list').revenue.sum(
).sort_values(ascending=False).head(1)

directors_list
peter jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [64]:
answers['14'] = '14. Robert Rodriguez'

In [65]:
# %%timeit
directors[directors.genres.str.contains('Action')].groupby('directors_list').count(
).sort_values(by='imdb_id', ascending=False).head(1)['imdb_id']

directors_list
robert rodriguez    9
Name: imdb_id, dtype: int64

ВАРИАНТ 2: с созданием подмассива

In [66]:
# %%timeit
action_movies = data[data.genres.str.contains('Action')]
action_director = action_movies.explode('directors_list')
action_director.directors_list.value_counts().head(1)

robert rodriguez    9
Name: directors_list, dtype: int64

ВАРИАНТ 3: самый быстрый

In [67]:
Counter(data[data.genres.str.contains('Action')].director.str.cat(
    sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [68]:
answers['15'] = '15. Chris Hemsworth'

In [69]:
# cast = data.explode('cast_list')
cast[cast.release_year == 2012].groupby(
    'cast_list').revenue.sum().sort_values(ascending=False).head(1)

cast_list
chris hemsworth    2027450773
Name: revenue, dtype: int64

ВАРИАНТ 2: с созданием подмассива

In [70]:
data_2012 = data.query('release_year == 2012')
actors = data_2012.explode('cast_list')
actors.groupby('cast_list').sum().sort_values(
    by='revenue', ascending=False).head(1)

,budget,revenue,runtime,vote_average,release_year,profit,length_title,words_count,month
cast_list,,,,,,,,,
chris hemsworth,485000000,2027450773,458,24.8,8048,1542450773,69,253,24

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [71]:
answers['16'] = '16. Matt Damon'

In [72]:
# %%timeit
cast[cast.budget > cast.budget.mean()].groupby('cast_list').count(
).sort_values(by='imdb_id', ascending=False).head(1)['imdb_id']

cast_list
matt damon    18
Name: imdb_id, dtype: int64

ВАРИАНТ 2: с созданием подмассива

In [73]:
# %%timeit
high_budget = data[data.budget > data.budget.mean()]
hb = high_budget.explode('cast_list')
hb.cast_list.value_counts().head(1)

matt damon    18
Name: cast_list, dtype: int64

ВАРИАНТ 3: самый быстрый

In [74]:
# %%timeit
high_budget = data[data.budget > data.budget.mean()]
Counter(high_budget.cast.str.cat(sep='|').split('|')).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [75]:
answers['17'] = '17. Action'

In [76]:
genres[genres.cast.str.contains('Nicolas Cage')].groupby('genres_list').count(
).sort_values(by='imdb_id', ascending=False).head(1)['imdb_id']

genres_list
action    17
Name: imdb_id, dtype: int64

ВАРИАНТ 2: с созданием подмассива

In [77]:
cage = data[data.cast.str.contains('Nicolas Cage')]
cage = cage.explode('genres_list')
cage.genres_list.value_counts().head(1)

action    17
Name: genres_list, dtype: int64

ВАРИАНТ 3:

In [78]:
Counter(data[data.cast.str.contains('Nicolas Cage')
             ].genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [79]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'

In [80]:
data[data.production_companies.str.contains(
    'Paramount')].sort_values(by='profit').head(2)['original_title']

925     K-19: The Widowmaker
1123                Timeline
Name: original_title, dtype: object

ВАРИАНТ 2:

In [81]:
data[data.production_companies.str.contains('Paramount')].groupby(
    'original_title').profit.min().sort_values().head(2)

original_title
K-19: The Widowmaker   -64831034
Timeline               -60519261
Name: profit, dtype: int64

ВАРИАНТ 3: с созданием переменной

In [82]:
# %%timeit
min_profit_pp = data[data.production_companies.str.contains(
    'Paramount')].profit.min()
data[(data.production_companies.str.contains('Paramount'))
     & (data.profit == min_profit_pp)]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

ВАРИАНТ 4: с созданием подмассива (быстрее, чем с переменной, потому что проще запрос)

In [83]:
# %%timeit
pp = data[data.production_companies.str.contains('Paramount')]
pp[pp.profit == pp.profit.min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [84]:
answers['19'] = '19. 2015'

In [85]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [86]:
answers['20'] = '20. 2014'

In [87]:
data[data.production_companies.str.contains('Warner Bros')].groupby(
    'release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

ВАРИАНТ 2: с созданием подмассива

In [88]:
wb = data[data.production_companies.str.contains('Warner Bros')]
wb.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [89]:
answers['21'] = '21. Сентябрь'

In [90]:
data.month.value_counts().head(1)

9    227
Name: month, dtype: int64

ВАРИАНТ 2:

In [91]:
data.groupby('month').count()['imdb_id'].sort_values(ascending=False).head(1)

month
9    227
Name: imdb_id, dtype: int64

ВАРИАНТ 3:

In [92]:
Counter(data.month).most_common(1)

[(9, 227)]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [93]:
answers['22'] = '22. 450'

In [94]:
data.query('6 <= month <= 8').count()['original_title']

450

ВАРИАНТ 2:

In [95]:
data.query('seasons == "summer"').count()['original_title']

450

ВАРИАНТ 3:

In [96]:
data[data.seasons == 'summer'].count()['imdb_id']

450

ВАРИАНТ 4: безумный, но тоже работающий, но лучше не надо...

In [97]:
data[data.month == 6].count() + data[data.month == 7].count() + \
    data[data.month == 8].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
length_title            450
overview_list           450
words_count             450
date                    450
month                   450
seasons                 450
genres_list             450
directors_list          450
cast_list               450
companies_list          450
dtype: int64

ВАРИАНТ 5:

In [98]:
Counter(data.seasons)['summer']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [99]:
answers['23'] = '23. Peter Jackson'

In [100]:
directors[directors['seasons'] ==
          'winter'].directors_list.value_counts().head(1)

peter jackson    7
Name: directors_list, dtype: int64

ВАРИАНТ 2:

In [101]:
directors.query('seasons == "winter"').directors_list.value_counts().head(1)

peter jackson    7
Name: directors_list, dtype: int64

ВАРИАНТ 3:

In [102]:
directors.query('seasons == "winter"').groupby('directors_list').count(
).sort_values(by='imdb_id', ascending=False).head(1)['imdb_id']

directors_list
peter jackson    7
Name: imdb_id, dtype: int64

ВАРИАНТ 4:

In [103]:
Counter(data[data.seasons == 'winter'].director.str.cat(
    sep='|').split('|')).most_common(1)

[('Peter Jackson', 7)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [104]:
answers['24'] = '24. Four By Two Productions'

In [105]:
companies.groupby('companies_list').length_title.mean(
).sort_values(ascending=False).head(1)

companies_list
four by two productions    83.0
Name: length_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [106]:
answers['25'] = '25. Midnight Picture Show'

In [107]:
companies.groupby('companies_list').words_count.mean(
).sort_values(ascending=False).head(1)

companies_list
midnight picture show    175.0
Name: words_count, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [108]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

In [109]:
data[['vote_average', 'original_title']].sort_values(
    by='vote_average', ascending=False)[:round(len(data)*0.01)]

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

ВАРИАНТ 2: на самом деле вариант выше - некорректный, т.к. он берет 1% лучших случайным образом, оставляя за бортом фильмы с таким же рейтингом = 7.8 

Нужно брать все фильмы, которые вошли в 1% по массиву + фильмы с рейтингом не ниже (т.е. не 19 фильмов, а все с рейтингом 7.8+)

In [110]:
best_pct = data.sort_values(by='vote_average', ascending=False).quantile(0.99)[
    'vote_average']
data[data.vote_average >= best_pct].sort_values(
    by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [111]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'

In [112]:
# %%timeit
actors_list = data.cast_list

# this is critical step! otherwise
# you will have reverse pairs of the same people
for i in actors_list:
    i.sort()

# count the pairs creating them via
# combinations from itertools
pairs = Counter()
for actor in actors_list:
    for pair in list(combinations(actor, 2)):
        if pair not in pairs:
            pairs[pair] = 1
        else:
            pairs[pair] += 1

pairs.most_common(5)

[(('daniel radcliffe', 'emma watson'), 8),
 (('daniel radcliffe', 'rupert grint'), 8),
 (('emma watson', 'rupert grint'), 8),
 (('ben stiller', 'owen wilson'), 6),
 (('helena bonham carter', 'johnny depp'), 6)]

ВАРИАНТ 2

# Submission

In [113]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [114]:
# и убедиться что ни чего не пропустил)
len(answers)

27